input{
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
}

select{
    border-radius: 5px;
    border: 1px solid black;
}

h3{
    text-align: center;
}

#textos{
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}

#tarefas{
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: white;

}

#tarefas_escritas{
    margin: auto;
    width: 530px;
    height: fit-content;
    padding: 10px;
    text-align: center;
    border-left: 1px solid black;
    border-right:1px solid black;
    border-bottom: 1px solid black;
}

#tarefas_a_fazer{
    background-color: white;
    width: 600px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin: auto auto 5px auto;
    padding: 5px;
    border: 1px solid black;
}

#tarefas_a_fazer p{
    text-align: center;
}

#botao_submit{
    display: block;
    margin: auto auto 15px auto;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 173, 0);
    color: white;
    width: 60px;
    height: 30px;
}

.hide{
    display: none !important;
}

.delete{
    width: 75px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    margin-top: 10px;
}

.delete:hover{
    filter: opacity(50%);
    cursor: pointer;
}

label{
    margin: 15px
    
}

h1{
    text-align: center;
    color: black;
}

select{
    margin: 15px;
}

.trilho{
    width: 70px;
    height: 35px;
    background-color: #c3c3c3;
    border-radius: 150px;
    border: 1px solid black;
    margin: auto auto 15px auto;
    cursor: pointer;
    position: relative;
}

.trilho .indicador{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    margin-left: 0;
    transition: 0.5s;
}


.trilho.light{
    background-color: #4d4d4d;
}

.trilho.light .indicador{
    left: 35px;
    background-color: black;
}

body.light{
    background-color: black;
}

body.light h1 {
    color: white;
}

body.light h3 {
    color: white;
}

body.light label{
    color: white;
}


body.light #tarefas{
    background-color: black;
    border: 1px solid white;
}

body.light #tarefas_a_fazer{
    background-color: black;
    border: 1px solid white;
}

body.light #tarefas_a_fazer p{
    color: white;
}
