input{
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
}

select{
    border-radius: 5px;
    border: 1px solid black;
}


#textos{
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}

#tarefas{
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: white;

}

#tarefas_escritas{
    margin: auto;
    width: 530px;
    height: fit-content;
    padding: 10px;
    text-align: center;
    border-left: 1px solid black;
    border-right:1px solid black;
    border-bottom: 1px solid black;
}

#tarefas_a_fazer{
    background-color: white;
    width: 600px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin: auto auto 5px auto;
    padding: 5px;
    border: 1px solid black;
}

#tarefas_a_fazer p{
    text-align: center;
}

#botao_submit{
    display: block;
    margin: auto auto 15px auto;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 173, 0);
    color: white;
    width: 60px;
    height: 30px;
}

.hide{
    display: none !important;
}

.delete{
    width: 75px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    margin-top: 10px;
}

.delete:hover{
    filter: opacity(50%);
    cursor: pointer;
}

label{
    margin: 15px
    
}

h1{
    text-align: center;
}

select{
    margin: 15px;
}